In [94]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [95]:
ambibox = webdriver.Chrome('chromedriver.exe')
url = 'https://www.ambitionbox.com/'
ambibox.get(url)

In [96]:
navsalary = ambibox.find_element_by_xpath('//*[@id="headerWrapper"]/nav/nav/a[4]')
navsalary

In [97]:
navsalary.click()

In [98]:
srchbtn = ambibox.find_element_by_xpath('//*[@id="jobProfileSearchbox"]')
srchbtn

In [99]:
srchbtn.send_keys('Data Scientist')

In [100]:
srcresult = ambibox.find_element_by_xpath('//*[@id="salaries"]/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div')
srcresult

In [101]:
srcresult.click()

In [108]:
averagesalary = ambibox.find_elements_by_xpath('//p[@class="averageCtc"]')
averagesalary

[<selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="915bd089-beb0-4f1c-b95c-881090345648")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="a3f4a9d3-261d-49b5-a7d2-81aef0f2c134")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="6c727193-5bd2-45db-bb71-9dbe1aa9d2b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="3e30e2a0-4c6e-448d-8415-6d2dab66c8d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="f777ad4c-f470-4be9-8252-1031c147f3b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="5321733f-a619-4aa0-9529-829a1e391ff0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="6ac2f6bb-9266-46a5-852d-2c0e247ebefc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="6026325a-ca3e-48b6-9dee-f6054a806b22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="e6651493-7bbd-403e-8d97-0aa06b8cfbed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="0a9276f6-639f-497c-9ad8-63b138c7cafe")>]

In [112]:
avsalary = []

for salary1 in averagesalary:
    avsalary.append(salary1.text)
avsalary

['₹ 28.7L',
 '₹ 19.5L',
 '₹ 15.8L',
 '₹ 15.0L',
 '₹ 15.0L',
 '₹ 13.5L',
 '₹ 13.5L',
 '₹ 12.7L',
 '₹ 12.4L',
 '₹ 11.9L']

In [117]:
strtsalary = ambibox.find_elements_by_xpath('//div[@class="salary-values"]')
strtsalary

[<selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="7ed65aec-3058-49c6-a63d-2875b668aa83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="4c6b7d7f-e237-4ff7-aa07-fca51f7ada15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="65e0c4c4-c5af-412c-bbae-0a47ddceabc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="fe3f8518-0e42-4fa6-8c92-2dbb6c82dd6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="97fb3bca-7611-46a0-adb8-c6a0424c242f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="863068ed-08e7-49f1-8bd8-791dbad40dd9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="cc48d0ea-c1cf-4672-9113-d6167d462525")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="ddef613d-de9c-4c3d-933c-458f90dead80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="588e60db-49af-4436-92b7-d8efa4954b2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="cbe5bce6-5c70-4729-8635-595c61cb95b9")>]

In [118]:
startingsalary = []

for salary2 in strtsalary:
    startingsalary.append(salary2.text.split('\n')[0])
startingsalary

['₹ 17.7L',
 '₹ 15.0L',
 '₹ 9.8L',
 '₹ 9.5L',
 '₹ 11.0L',
 '₹ 7.2L',
 '₹ 8.3L',
 '₹ 10.0L',
 '₹ 8.5L',
 '₹ 5.8L']

In [119]:
maxsalary = []

for salary3 in strtsalary:
    maxsalary.append(salary3.text.split('\n')[1])
maxsalary

['₹ 35.0L',
 '₹ 25.0L',
 '₹ 20.0L',
 '₹ 22.0L',
 '₹ 21.3L',
 '₹ 20.5L',
 '₹ 18.5L',
 '₹ 21.0L',
 '₹ 15.0L',
 '₹ 21.5L']

In [120]:
comname = ambibox.find_elements_by_xpath('//div[@class="name"]')
comname

[<selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="cc3927ab-6d37-4b95-a9be-769e5713d924")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="851246bd-1239-41a7-8d80-1c693e12a605")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="06595d74-66d5-4cf3-86ca-371d526284bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="3ed457e1-4e25-432e-891e-ab85058f478d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="b63ef47f-b271-4503-80e3-8c4e87e76eaf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="87f6c5dc-0578-4985-91f3-d871ab6a8295")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="c266049d-b598-458b-9d8a-3d6dcbad4dbb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="c3d9c1be-d084-4ecd-8b68-eadd69b54bcf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="7b55a965-4ff4-4f62-b06c-44f207d63da1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="5e4851e7-8bb6-4ba2-aeb8-91bbe97a887f")>]

In [122]:
Company = []

for nam in comname:
    Company.append(nam.text.split('\n')[0])
Company

['Walmart',
 'Ab Inbev',
 'ZS',
 'Fractal Analytics',
 'Optum',
 'UnitedHealth',
 'Tiger Analytics',
 'Verizon',
 'Ganit Business Solutions',
 'Ericsson']

In [123]:
salaryrecord = []

for srcrd in comname:
    salaryrecord.append(srcrd.text.split('\n')[1])
salaryrecord

['based on 10 salaries',
 'based on 22 salaries',
 'based on 14 salaries',
 'based on 72 salaries',
 'based on 23 salaries',
 'based on 49 salaries',
 'based on 27 salaries',
 'based on 14 salaries',
 'based on 13 salaries',
 'based on 42 salaries']

In [124]:
jbrole = ambibox.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
jbrole

[<selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="8c752523-dbd6-45ff-8ceb-baab4a9dfd36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="ab84659b-3e28-4607-b09a-017a4b26dc1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="805744c1-7ec3-469e-a62e-972779b0c734")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="536ee3f1-6ebc-4f1f-adbd-2459969109b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="5d204ed4-847f-4b2e-9aa8-84e719752474")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="0a700dea-837c-40a9-b587-51af58fa0a0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="61f4bc76-e988-4651-bd66-fa55a8380ce3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="b99b1721-7ccd-4b16-89bf-e8643ff19fca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="e9b1adc3-b8b9-42ae-aa6f-928a9952a8f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="951a7fe2453eda10de6320933a9f7622", element="f7f566f3-f599-4a6b-a13b-a90486e92f3f")>]

In [127]:
Jobrole = []

for roles in jbrole:
    Jobrole.append(roles.text.split('\n . \n')[0])
Jobrole

['Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [128]:
Experience = []

for exp in jbrole:
    Experience.append(exp.text.split('\n . \n')[1])
Experience

['3 yrs exp',
 '3-4 yrs exp',
 '2 yrs exp',
 '2-4 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '3-4 yrs exp',
 '4 yrs exp',
 '4 yrs exp',
 '3-4 yrs exp']

In [129]:
data = pd.DataFrame()

data ['Company Name'] = Company
data ['Job Role'] = Jobrole
data ['Average Salary'] = avsalary
data ['Starting Salary'] = startingsalary
data ['Maximum Salary'] = maxsalary
data ['Avg Exprience'] = Experience
data ['Avg Record'] = salaryrecord
data.head(11)

,Company Name,Job Role,Average Salary,Starting Salary,Maximum Salary,Avg Exprience,Avg Record
0,Walmart,Data Scientist,₹ 28.7L,₹ 17.7L,₹ 35.0L,3 yrs exp,based on 10 salaries
1,Ab Inbev,Data Scientist,₹ 19.5L,₹ 15.0L,₹ 25.0L,3-4 yrs exp,based on 22 salaries
2,ZS,Data Scientist,₹ 15.8L,₹ 9.8L,₹ 20.0L,2 yrs exp,based on 14 salaries
3,Fractal Analytics,Data Scientist,₹ 15.0L,₹ 9.5L,₹ 22.0L,2-4 yrs exp,based on 72 salaries
4,Optum,Data Scientist,₹ 15.0L,₹ 11.0L,₹ 21.3L,3-4 yrs exp,based on 23 salaries
5,UnitedHealth,Data Scientist,₹ 13.5L,₹ 7.2L,₹ 20.5L,2-4 yrs exp,based on 49 salaries
6,Tiger Analytics,Data Scientist,₹ 13.5L,₹ 8.3L,₹ 18.5L,3-4 yrs exp,based on 27 salaries
7,Verizon,Data Scientist,₹ 12.7L,₹ 10.0L,₹ 21.0L,4 yrs exp,based on 14 salaries
8,Ganit Business Solutions,Data Scientist,₹ 12.4L,₹ 8.5L,₹ 15.0L,4 yrs exp,based on 13 salaries
9,Ericsson,Data Scientist,₹ 11.9L,₹ 5.8L,₹ 21.5L,3-4 yrs exp,based on 42 salaries